/*********************************************************************/
/* .acButton */
/*********************************************************************/
.acButton {
	position: relative;
	display: inline-block;
}

.acButton .dropdown-toggle {
	font-size: 1.4em;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 3px;
	color: #fff;
	font-weight: 400;
	text-transform: uppercase;
	background-color: #454A52;
}

/*********************************************************************/
/* .dropdown-menu */
/*********************************************************************/
.acButton .dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 100px;
	border: 1px solid #000;
	border-radius: 0 0 3px;
	background-color: #fff;
	z-index: 10;
}

.acButton .dropdown-menu li a {
	display: block;
	font-size: 1.4em;
}

/*********************************************************************/
/* .dropdown-header */
/*********************************************************************/
.dropdown-header > input {
	padding: 10px;
	font-size: 1.4em;
	border: none;
	border-bottom: 1px solid #000;
}

/*********************************************************************/
/* .menu-item */
/*********************************************************************/
.menu-item {
	transition: 0.2s ease-in-out all;
	position: relative;
	cursor: pointer;
}

.menu-item:hover {
	background-color: #1BC5BB;
	color: #fff;
}

.menu-item .menu-item-status,
.menu-item .menu-item-edit {
	position: absolute;
	top: 0;
	bottom: 0;
	padding: 10px;
}

.menu-item .menu-item-status .fa,
.menu-item .menu-item-edit .fa {font-size: 1.5em;}

.menu-item .menu-item-status {left: 0;}
.menu-item .menu-item-edit {right: 0;}

.menu-item-label {
	padding: 10px 30px;
	font-size: 1.4em;
	white-space: nowrap;
}

.menu-item .menu-item-edit {opacity: 0;}
.menu-item:hover .menu-item-edit {opacity: 1;}

/*********************************************************************/
/* .edit-item */
/*********************************************************************/
.edit-item {position: relative;}
.edit-item-input {padding: 5px;}

.edit-item-input > input {
	width: calc(100% - 30px);
	margin-right: 30px;
	font-size: 1.4em;
	padding: 5px;
}

.edit-item-remove {
	position: absolute;;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 8px 10px 10px 10px;
}

.edit-item-remove > .fa {
	font-size: 2em;
	cursor: pointer;
}
