/*********************************************************************/
/* .acButton */
/*********************************************************************/
.acDropdown .acButton {
	font-size: 1.3em;
	border-color: #000;
	border-radius: 3px;
	color: #fff;
	background-color: #454A52;
}

.acDropdown .active > button {border-radius: 3px 3px 0 0;}

.acDropdown:hover .acButton,
.acDropdown .active .acButton {background-color: #373b41;}

/*********************************************************************/
/* .dropdown-menu */
/*********************************************************************/
.acDropdown .dropdown-menu {
	border-color: #000;
	border-radius: 0 0 3px;
	background-color: #fff;
}

/*********************************************************************/
/* .dropdown-header */
/*********************************************************************/
.acDropdown .dropdown-header > input {border-bottom-color: #000;}

/*********************************************************************/
/* .checkAll / .uncheckAll */
/*********************************************************************/
.acDropdown .checkAll:hover,
.acDropdown .uncheckAll:hover {
	background-color: #37CB9B;
	color: #fff;
}

.acDropdown .checkAll:hover a,
.acDropdown .uncheckAll:hover a {color: #fff;}


.acDropdown .checkAll {}
.acDropdown .uncheckAll {border-bottom: 1px solid #000; }

/*********************************************************************/
/* .menu-item */
/*********************************************************************/
.acDropdown .menu-item:hover {
	background-color: #37CB9B;
	color: #fff;
}

/*********************************************************************/
/* .selectInfo */
/*********************************************************************/
.acDropdown .selectInfo {border-top-color: #000;}

.acDropdown .selectInfo a,
.acDropdown .selectInfo a:hover {color: #454a52;}

/*********************************************************************/
/* .acButtonGroup */
/*********************************************************************/
.acButtonGroup .acDropdown .acButton {border-radius: 0;}
.acButtonGroup .acDropdown:first-child button {border-radius: 3px 0 0 3px;}
.acButtonGroup .acDropdown:last-child button {border-radius: 0 3px 3px 0;}
